name: Format Check

on:
  pull_request:
    branches: [ main ]

jobs:
  formatting:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v1
        with:
          version: "latest"

      - name: Run uv format check
        run: uv format --check
